.lessons-blocks {
  .two-examples {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 177px;
    .example {
      width: 28.6%;
      margin: 0 42.5px;
    }
  }
  .lessons-wrapper {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    grid-row-gap: 123px;
    margin: 82px 0;
    .lesson-block {
      display: flex;
      position: relative;

      .pic-wrapper {
        position: relative;
        .block-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 46px;
          height: 46px;
          position: absolute;
          top: calc(50% - 23px);
          left: calc(50% - 23px);
          border: 2px solid rgba(229, 52, 52, 0.15);
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
      }
      .text-wrapper {
        margin-left: 48px;
        width: auto;
        .title {
          font-weight: bold;
          font-size: 24px;
          line-height: 33px;
          color: #004f71;
        }
        .desc {
          font-size: 14px;
          line-height: 150%;
          color: #004f71;
        }
        .access-text {
          font-size: 14px;
          line-height: 150%;
          color: #34e590;
        }
        .acquire-btn {
          width: 166px;
          height: 55px;
          border: 2px solid rgba(52, 229, 144, 0.15);
          border-radius: 68px;
          color: #34e590;
        }
        .test-btn {
          font-size: 14px;
          line-height: 150%;
          color: rgba(0, 79, 113, 0.5);
        }
        .bottom-0 {
          position: absolute;
          bottom: 0;
        }
      }
    }
    .block-2,
    .block-4 {
      justify-content: flex-end;
    }
  }
}
