.basic-lessons,
.additional-lessons {
  padding-top: 36.5px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lessons-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0;
    .lesson {
      width: 31.4%;
      .pic-wrapper {
        width: 400px;
        height: 239px;
      }
    }
    .arrow-btn {
      width: 40px;
      height: 40px;
      border: 2px solid rgba(0, 158, 226, 0.15);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    .arrow-left {
      background-image: url(../icons/arrow-left.svg);
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
      // margin-right: 23px;
    }
    .arrow-right {
      background-image: url(../icons/arrow-right.svg);
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
      // margin-left: 55px;
    }
    .lessons {
      display: flex;
      justify-content: space-between;
    }
  }
}
.additional-lessons {
  margin-top: 59px;
}

.lesson {
  display: flex;
  flex-direction: column;
  .pic-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    .cover-pic {
      position: absolute;
      width: 100%;
      height: auto;
      z-index: -4;
    }
    .number {
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      color: #009ee2;
    }
  }

  .access-text {
    margin-top: 22px;
    font-size: 14px;
    line-height: 150%;
    color: #34e590;
  }
}
