.news {
  position: relative;
  margin-top: 176px;

  .header {
    display: flex;
    justify-content: space-between;
  }

  .news-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 25px 0;
    .news-card {
      width: 28%;
      .cover-pic {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
      .title {
        font-weight: normal;
        font-size: 18px;
        line-height: 160%;
        color: #004f71;
        margin-top: 26.5px;
      }
      .desc {
        font-size: 14px;
        line-height: 150%;
        color: rgba(0, 79, 113, 0.5);
        margin: 11px 0;
      }
      .date {
        font-size: 14px;
        line-height: 150%;
        color: rgba(0, 79, 113, 0.5);
      }
    }
  }
}
