@font-face 
  font-family "AvertaStd"
  src url(../../fonts/AvertaStd/AvertaStdPE-Regular.otf) format("opentype")
  font-weight normal
  font-style normal

@font-face 
  font-family "AvertaStd"
  src url(../../fonts/AvertaStd/AvertaStdPE-Bold.otf) format("opentype")
  font-weight bold
  font-style normal

@font-face 
  font-family "AvertaStd"
  src url(../../fonts/AvertaStd/AvertaStdPE-Semibold.otf) format("opentype")
  font-weight 600
  font-style normal

@font-face 
  font-family "AvertaStd"
  src url(../../fonts/AvertaStd/AvertaStdPE-Light.otf) format("opentype")
  font-weight 400
  font-style normal