@media only screen and (max-width 1680px)
    .key-capabilities
        .title
            font-size calc(26px + (40 - 26) * (100vw - 320px) / (1680 - 360)) // 26 to 40
        .icon
            .icon-wrapper
                width calc(35px + (92 - 35) * (100vw - 320px) / (1680 - 360)) // 92 to 35
                height calc(35px + (92 - 35) * (100vw - 320px) / (1680 - 360))
    .numbers
        .number-block
            .number
                font-size calc(20px + (64 - 20) * (100vw - 320px) / 1360) // 58 to 20


@media only screen and (max-width 1500px)
    .indicators
        .pics-wrapper
            .pics
                width 75%
        .text-wrapper
            .view-data-btn
                margin-top 80.6px

@media only screen and (max-width 1367px)
    .advantages
        padding-bottom 66px
        .advs-wrapper
            width 37.8% //586px
            .adv-container
                padding-right 15px
            .icon
                width 37px
                height 37px
                margin auto 20px
    .indicators
        padding 70px 
        .pics-wrapper
            .pics
                width 65%
        .text-wrapper
            .view-data-btn
                width 303px
                height 55px
                margin-top 50.6px
    .vedprofile-API
        .content
            margin-left 10%
            .pic-wrapper
                .pic
                    position relative
    .demo-access
        padding 63px 87px 85px 87px
        .block
            .text-wrapper
                padding 80px 0
            .inputs
                padding 123px 50px 103px 50px

    .tariffs
        padding 80px 110px 137.19px 130px

@media only screen and (max-width 1230px)
    .start
        .start-main
            .heading
                max-width 100%
            .search
                form
                    .search-company-btn
                        font-size: 13px

// @media only screen and (max-width 721px) 
//      // --------START-------------
//     .start
//         .header
//             .header-btns
//                 .language-btn
//                     height 25px
//                     margin 0 15px
//                     .name-language
//                         font-size 12px
//                     .flag-country
//                         width 23px
//                         height 23px
//                         margin-right: 8px
//                 .sign-in-btn
//                     width 90.75px
//                     height 26px
//                     margin 0
//                     font-size 13px
//         .start-main
//             .desc
//                 max-width 70%
//                 line-height 23px
//             .search
//                 width 100%
//                 flex-direction column
//                 justify-content space-between
//                 height 150px
//                 form
//                     .name-or-TIN-input
//                         width 95%
//                         padding 5px 14.5px
//                         height 50%
//                         margin 15px 0
//                         font-size 13px
//                     .name-or-TIN-input::placeholder
//                         font-size 13px
//                     .search-company-btn
//                         width 50%
//                         height 45%
//                         margin 0
//                         font-size 12px
//     //---------advantages -----------
//     .advantages
//         padding 30px 10px
//         .advs-wrapper
//             width 100%
//             margin 0
//             .adv-container
//                 padding 15px 0
//                 height auto
//                 margin-bottom 10px
//                 padding-right 8px
//                 .icon
//                     width 23px
//                     height 23px
//                 .text
//                     .desc
//                         margin 9px 0
//         .pics
//             display none
//     // ------- capabilities ---------
//     .key-capabilities
//         padding 50px 20px
//         .title
//             padding-top 13px
//             padding-bottom 29px
//         .grid-wrapper 
//             grid-template-columns 1fr 1fr
//             grid-auto-rows auto
//             grid-gap 30px
//             .item
//                 padding 0
//                 margin 0
//                 .icon-wrapper
//                     margin 0
//                     float left
//                 .text
//                     text-align left
//                     padding 0
//                     margin 0
//                     margin-top: 45px
//                     font-size 13px
//                     line-height 18px
//             .phone
//                 display none
//     // ----- indicators ------
//     .indicators
//         padding 30px 15px
//         .text-wrapper
//             width 100%
//             .overhead-text
//                 font-size: 10px
//             .title
//                 text-align center
//                 font-size: 26px
//                 line-height 30px
//                 margin: 25px auto
//             .view-data-btn
//                 width 50%
//                 margin 20px auto
//                 height 50px
//                 font-size: 13px
//         .pics-wrapper
//             display none
//     // ---- element ---- 
//      .green-line-desc
//         padding-left 15px
//         font-size 13px
//         line-height 22px
//         margin: 14px 0
//     //-----vedprof API --------
//     .vedprofile-API
//         width 100%
//         height auto
//         padding 30px 10px
//         margin 0
//         .overhead-text
//             display none
//         .title
//             font-size: 25px
//         .content
//             width 100%
//             margin 0
//             padding 20px 0
//             .pic-wrapper 
//                 display none
//             .circles-icon
//                 display none
//             .data-companies
//                 width 100%
//                 .title
//                     word-wrap wrap
//                     font-size: 21px
//                     line-height 30px
//                 .learn-more-btn
//                     margin 0
//                     width 50%
//                     float right
//                     height 50px
//                     font-size 14px
//         .bg
//             top 80%
//             opacity 0.4
//     //-----tarrifs ----------
//     .tariffs
//         padding 20px 15px
//         .title 
//             font-size: 25px
//             line-height 35px
//             text-align: center
//             padding 20px 0
//         .desc
//             display none // Need to add display block 'Что это?' + modal window
//         .tariff-container
//             grid-template-columns 1fr 1fr
//             grid-template-rows 1fr 1fr 1fr 1fr
//             height auto
//             margin 15px 0
//             grid-gap 27.27px 12.82px
//             .tariff
//                 display flex
//                 flex-direction column
//                 justify-content space-between
//                 padding 10px 0
//                 height auto
//                 // grid-auto-rows: minmax(200px, auto)
//                 .number-companies
//                     font-size 14px
//                 .desc-tariff
//                     display none
//                 .arrange-btn
//                     width 60%
//                     height 30px
//                     margin 10px auto
//                     font-size 13px
//             .year-tariff
//                 grid-column 2/2
//                 grid-row 4/4
//     .numbers
//         padding 30px 10px
//         grid-template-columns 1fr 1fr
//         grid-template-rows 1fr 1fr 1fr
//         .number-block
//             flex-direction column
//             align-items center
//             height auto
//             text-align: center
//             // font-size 25px
//             .text
//                 font-size: 12px
//                 margin 10px 0
//         .bg
//             top 40%

//     .demo-access
//         padding 13px 8px
//         .block
//             width 100%
//             padding 15px
//             flex-direction column
//             .text-wrapper
//                 width 100%
//                 padding 0
//                 .title
//                     text-align: center
//                     font-size 25px
//                     padding 10px 0
//                 .green-line-desc
//                     margin 15px 0
//             .inputs
//                 width 100%
//                 padding 10px 15px
//                 border none
//                 input
//                     padding-left 8px
//                 input::placeholder
//                         font-size 13px
//                 .get-demo-access
//                     width 60%
//                     height 44px
//                     float none
//                     margin 0 auto
//                     margin-top: 20px
//                     font-size: 12px
//     .footer
//         width 100%
//         height auto
//         justify-content: space-between
//         padding 10px 15px
//         .copyright 
//             display none
//         .terms-of-use
//             right 8%
//             font-size 12px

@media only screen and (max-width 425px)
    .logo-wrapper
        width 17%
        .logo-company 
            width 57.25px
            height 25px
        .logo-text
            visibility hidden
    .start
        padding 12px 15px
        .start-main
            .desc 
                max-width 100%
            .search
                width 112px
                form
                    .name-or-TIN-input
                        width 93%
                    .search-company-btn
                        height 40%
                        font-size 9px
    .key-capabilities
        padding 50px 20px
        .grid-wrapper 
            grid-auto-rows minmax(100px, auto)
            grid-gap 10px
    .indicators
        .text-wrapper
            .view-data-btn
                width 80%
    .vedprofile-API
        .content
            .data-companies
                .learn-more-btn
                    width 80%
    .tariffs
        .tariff-container
            .tariff
                .arrange-btn
                    width 80%
    .numbers
        .number-block
            .text
                margin 20px 0
    .demo-access
        .block
            .inputs
                .get-demo-access
                    width 80%

// @media only screen and (min-width 1380px)
//     .start
//         .start-main
//             .search
//                 height 56px
//                 margin 20.6px 0
//                 form
//                     .name-or-TIN-input
//                         width 475px
//                     .search-company-btn
//                         width 260px
//                         font-size 14px
                    

