// small-screen-up = 601px !default;
// medium-screen-up = 993px !default;
// large-screen-up = 1201px !default;
// small-screen = 600px !default;
// medium-screen = 992px !default;
// large-screen = 1200px !default;
// medium-and-up = "only screen and (min-width  = #{$small-screen-up})" !default;
// large-and-up = "only screen and (min-width  = #{$medium-screen-up})" !default;
// small-and-down = "only screen and (max-width  = #{$small-screen})" !default;
// medium-and-down = "only screen and (max-width  = #{$medium-screen})" !default;
// medium-only = "only screen and (min-width  = #{$small-screen-up}) and (max-width  = #{$medium-screen})" !default;

// @media only screen and (max-width 1680px)
//     .start
//         height 
// @media only screen and (max-width 1441px)
//     .advantages

@media only screen and (min-width 321px)
    // START
    .logo-wrapper
        width 17%
        .logo-company 
            width 57.25px
            height 25px
        .logo-text
            visibility hidden
    .start
        padding 12px 15px
        .header
            .header-btns
                .language-btn
                    height 25px
                    margin 0 15px
                    .name-language
                        font-size 12px
                    .flag-country
                        width 23px
                        height 23px
                        margin-right: 8px
                .sign-in-btn
                    width 90.75px
                    height 26px
                    margin 0
                    font-size 13px
        .start-main
            .heading
                max-width 100%
            .desc
                line-height 23px
                max-width 100%
            .search
                width 100%
                flex-direction column
                justify-content space-between
                height 112px
                form
                    .name-or-TIN-input
                        width 93%
                        padding 5px 14.5px
                        height 45%
                        margin 15px 0
                        font-size 13px
                    .name-or-TIN-input::placeholder
                        font-size 13px
                    .search-company-btn
                        width 50%
                        height 38%
                        font-size 8px
                        margin 0
    .advantages
        padding 30px 10px
        .advs-wrapper
            width 100%
            margin 0
            .adv-container
                padding 15px 0
                height auto
                margin-bottom 10px
                padding-right 8px
                .icon
                    width 23px
                    height 23px
                    margin auto 20px
                .text
                    .title
                        font-size 15px
                    .desc
                        font-size 12px
                        margin 9px 0
        .pics
            display none

    .key-capabilities
        padding 10px 20px
        .title 
            font-size 26px
            padding-top 13px
            padding-bottom 29px
        .grid-wrapper 
            grid-template-columns 1fr 1fr
            grid-auto-rows minmax(160px, auto)
            grid-gap 10px
            .item
                padding 0
                margin 0
                .icon-wrapper
                    margin 0
                    width 35px
                    height 35px
                    float left
                    .icon
                        width 20px
                        height 20px
                .text
                    text-align left
                    padding 0
                    margin 0
                    margin-top: 45px
                    font-size 13px
                    line-height 18px
            .phone
                display none
    .indicators
        padding 15px
        .text-wrapper
            width 100%
            .overhead-text
                font-size: 10px
            .title
                text-align center
                font-size: 26px
                line-height 30px
                margin: 25px auto
            .view-data-btn
                width 80%
                margin 15px auto
                height 50px
                font-size: 13px
        .pics-wrapper
            display none
    .green-line-desc
        padding-left 15px
        font-size 13px
        line-height 22px
        margin: 14px 0
    .vedprofile-API
        width 100%
        height auto
        padding 30px 10px
        margin 0
        .overhead-text
            display none
        .title
            font-size: 25px
        .content
            width 100%
            margin 0
            padding 20px 0
            .pic-wrapper 
                display none
            .circles-icon
                display none
            .data-companies
                width 100%
                .title
                    word-wrap wrap
                    font-size: 21px
                    line-height 30px
                .learn-more-btn
                    margin 0
                    width 80%
                    float right
                    height 50px
                    font-size 14px
        .bg
            top 80%
            opacity 0.4
    .tariffs
        padding 20px 15px
        .title 
            font-size: 25px
            line-height 35px
            text-align: center
            padding 20px 0
        .desc
            display none // Need to add display block 'Что это?' + modal window
        .tariff-container
            grid-template-columns 1fr 1fr
            grid-template-rows 1fr 1fr 1fr 1fr
            height auto
            margin 15px 0
            grid-gap 27.27px 12.82px
            .tariff
                display flex
                flex-direction column
                justify-content space-between
                padding 10px 0
                height auto
                .number-companies
                    font-size 14px
                .desc-tariff
                    display none
                .arrange-btn
                    width 80%
                    height 30px
                    margin 10px auto
                    font-size 13px
            .year-tariff
                grid-column 2/2
                grid-row 4/4
    .numbers
        padding 30px 10px
        grid-template-columns 1fr 1fr
        grid-template-rows 1fr 1fr 1fr
        .number-block
            flex-direction column
            align-items center
            height auto
            text-align: center
            .number
                font-size: 20px
            .text
                font-size: 12px
                margin 20px 0
        .bg
            top 40%

    .demo-access
        padding 13px 8px
        .block
            width 100%
            padding 15px
            flex-direction column
            .text-wrapper
                width 100%
                padding 0
                .title
                    text-align: center
                    font-size 25px
                    padding 10px 0
                .green-line-desc
                    margin 15px 0
            .inputs
                width 100%
                padding 10px 15px
                border none
                input
                    padding-left 8px
                input::placeholder
                        font-size 13px
                .get-demo-access
                    width 80%
                    height 44px
                    float none
                    margin 0 auto
                    margin-top: 20px
                    font-size: 12px
    .footer
        height auto
        justify-content: space-between
        padding 10px 15px
        .copyright 
            display none
        .terms-of-use
            right 8%
            font-size 12px


@media only screen and (min-width 1380px)
    .start
        .start-main
            .search
                height 56px
                margin 20.6px 0
                form
                    .name-or-TIN-input
                        width 475px
                    .search-company-btn
                        width 260px
                        font-size 14px
                    

@media only screen and (min-width 1680px)
    .start
        .header
            height 812px
        .start-main
            padding-left 93px
            .heading 
                font-size 72px
            .desc 
                font-size 24px
                
