@media only screen and (max-width 1500px)
  .indicators

    .pics-wrapper
      .pics
        width 75%

    .text-wrapper
      .view-data-btn
        margin-top 80.6px

  .key-capabilities
    .grid-wrapper 
      grid-template-columns 34.6% 34.1% 31.1%


@media only screen and (max-width 1367px)
  .start
    padding 10px 55px 

    .header
      .header-btns
          .language-btn
          display flex
          margin 0 54px
          align-items center

          .flag-country
            width 25px
            height 25px
            margin-right 8px

          .name-language
            font-size 12px

          .sign-in-btn
            width 130px
            height 40px

    .start-main
      padding-top 70px
      
      .heading
        max-width 100%

      .search
        height 47px

        form
          .name-or-TIN-input
            width 480px
          .name-or-TIN-input::placeholder
            font-weight 600
            font-size 14px
          .search-company-btn
            width 210px
            font-size 10px

  .logo-company 
    width 60px
    height 26px

  .logo-text
    font-size 30px
    margin-left 7px

  .fea
    font-size 19.7px
    margin-left 6px

  .advantages
    align-items center
    padding-bottom 66px

    .advs-wrapper
      margin 0
      width 37.8% 

      .adv-container
        padding-right 15px

      .icon
        width 37px
        height 37px
        margin auto 20px

  .indicators
    padding 70px 

    .pics-wrapper
      .pics
        width 65%

    .text-wrapper
      .view-data-btn
        width 303px
        height 55px
        margin-top 50.6px

  .vedprofile-API
    .content
      margin-left 10%

      .pic-wrapper
        .pic
          position relative

  .demo-access
    padding 63px 87px 80px 87px

  .numbers
    .number-block
      flex-direction column
      align-items flex-start

    .block-1, .block-2, .block-3
      justify-content flex-start

    .block-4, .block-5, .block-6
      justify-content flex-end

  .tariffs
    padding 170px 110px 137.19px 130px

@media only screen and (max-width 1230px)
  .advantages
    .advs-wrapper
      width 38%

      .adv-container
        padding 18px 18px 18px 0
        height auto
        

  .key-capabilities
    .grid-wrapper 
      .phone
        margin-top 60px

  .green-line-desc
    font-size 14px

  .indicators
    padding 92px 50px 72px 65px

    .text-wrapper
      .overhead-text
        font-size 11px

      .title
        font-size 35px
        line-height 45px
        margin-bottom 50px

      .view-data-btn
        width 263px
        height 49px
        font-size 13px

  .vedprofile-API
    .content
      .data-companies
        .learn-more-btn
          width 263px
          height 49px
          font-size 12px


@media only screen and (max-width 1100px)
  .start
    .header
      .header-btns
        .sign-in-btn
          width 120px
          height 35px
          
    .start-main
      .desc
        max-width 70%

      .search
        margin-bottom 0

        form
          .name-or-TIN-input
            font-size 14px

  .key-capabilities
    .grid-wrapper 
      .item
        .text
          margin-top 12px

      .item-1, .item-3, .item-5
        .text
          margin-top 82px

      .phone
        margin-top 30%

  .vedprofile-API
    .content
      .circles-icon
        display none

  .indicators
    .text-wrapper
      .title
        font-size 32px
        line-height 35px
        margin-bottom 45px

      .view-data-btn
        width 180px
        height 50px

    .pics-wrapper
      .header-text
        .title
          font-size 18px

        p
          font-size 11px

      .pics
        margin-top 30%

  .vedprofile-API
    .overhead-text
      font-size 12px

    .title
      font-size 35px

    .content
      width 95%

      .data-companies
        .title
          max-width 90%
          font-size 28px
          line-height 25px

        .learn-more-btn
          width 180px
          height 50px

  .tariffs
    padding 80px 60px 

    .tariff-container
      grid-gap 17.27px 22.82px

      .tariff
        .number-companies
          font-size 20px

        .desc-tariff
          font-size 14px

        .arrange-btn
          width 75%
          height 40px
          font-size 12px

      .year-tariff
        .arrange-btn
          width 32%

    .title
      font-size 32px

    .desc 
      font-size 14px
      line-height 20px

  .numbers
    padding 100px 40px
    grid-row-gap 75px 

    .number-block
      height auto

      .number
        font-size 40px
        
      .text
        max-width auto
        font-size 12px


  .demo-access
    .block
      .text-wrapper
        padding 93px 0 93px 41px

      .inputs
        padding 93px 0 

        input
          font-size 16px

        input::placeholder
          font-size 14px

        .get-demo-access
          width 180px
          height 45px
          font-size 10px

  .logo-company 
    width 52px
    height 22px

  .logo-text
    font-size 28px
    margin-left 7px

  .fea
    font-size 18px
    margin-left 6px

  .footer
    padding 10px 36px

    .copyright 
      font-size 10px

@media only screen and (max-width 870px)
  .start
    .header
      .header-btns
        .language-btn
          height 25px
          margin 10px 15px

          .name-language
            font-size 12px

          .flag-country
            width 23px
            height 23px
            margin-right 8px

        .sign-in-btn
          width 90px
          height 30px
          line-height 15px
          margin 10px 0
          font-size 10px

    .start-main
      padding-top 60px

      .desc
        max-width 70%
        line-height 23px

      .search
        width 100%
        flex-direction column
        justify-content space-between

        form
          .name-or-TIN-input
            width 90%
            height 38%
            margin 15px 0
            font-size 13px

          .name-or-TIN-input::placeholder
            font-size 13px

          .search-company-btn
            width 38%
            height 38%
            margin 0
            font-size 12px

  .key-capabilities
    .grid-wrapper 
      .phone
        margin-top 90px

  .indicators
    flex-direction column
    padding 55px 30px

    .text-wrapper
      width 100%
      margin 0 auto

      .overhead-text
        display none

      .title
        text-align center
        font-size 26px
        line-height 30px
        margin 25px auto

      .view-data-btn
        position absolute
        bottom 40px
        width 30%
        left calc(50% - 15%)
        height 50px
        font-size 13px

      .green-line-desc
        margin 30px 0
        font-size 16px

    .pics-wrapper
      width 100%

      .pics
        margin 40px auto
        width 50%

  .vedprofile-API
    height auto

    .content
      margin-top 0

      .pic-wrapper
        display none 

  .tariffs
    .tariff-container
      height auto

  .demo-access
    padding 43px 30px 

    .block
      flex-direction column

      .text-wrapper
        width 100%
        padding 0

        .title
          margin 15px 0
          text-align center

        .green-line-desc
          margin-top 0
          margin 20px 40px
          
      .inputs
        width 100%
        border none
        padding 0

        .get-demo-access
          margin 30px auto

  .footer
    .copyright
      display none
      

@media only screen and (max-width 769px) 
  .advantages
    padding 30px 10px

    .advs-wrapper
      width 100%
      margin 0

      .adv-container
        padding 15px 0
        height auto
        margin-bottom 10px
        padding-right 8px

        .icon
          width 23px
          height 23px

        .text
          .desc
            margin 9px 0

      .adv-container:hover
        margin 0
        margin-bottom 10px

    .pics
      display none

  .key-capabilities
    padding 50px 

    .title
      padding-top 0
      padding-bottom 29px

    .grid-wrapper 
      grid-template-columns 1fr 1fr
      grid-auto-rows auto
      grid-gap 30px

      .item
        padding 20px 10px
        margin 0

        .icon-wrapper
          margin 0 auto

        .text
          text-align left
          padding 0
          margin 0
          margin-top 15px
          font-size 16px
          line-height 18px

      .item-1, .item-3, .item-5
        .icon-wrapper
          float none
      
      .item-7
        grid-column 1/3
        .text
          text-align center

      .phone
        display none

  .vedprofile-API
    width 100%
    height auto
    padding 40px 30px
    margin 0

    .overhead-text
      display none

    .title
      font-size 25px

    .content
      width 100%
      margin 0
      padding 10px 0

      .pic-wrapper 
        display none

      .circles-icon
        display block
        margin 0 20px

      .data-companies
        width 100%

        .title
          margin 0
          word-wrap wrap
          font-size 18px
          line-height 25px

        .desc
          font-size 16px

        .learn-more-btn
          margin 0
          width 50%
          float none
          height 50px
          font-size 14px

    .bg
      top 2%
      opacity 0.4

  .tariffs
    margin-top 0
    padding 30px 50px

    .title 
      font-size 25px
      line-height 35px
      text-align center
      padding 20px 0
      
    .tariff-container
      grid-template-columns 1fr 1fr
      grid-template-rows 1fr 1fr 1fr 1fr
      height auto
      margin 40px 0
      grid-gap 20.27px 12.82px
      grid-row-gap 10px

      .tariff
        display flex
        flex-direction column
        justify-content space-between
        padding 10px 
        height auto

        .desc-tariff
          margin 8px 0

        .arrange-btn
          width 60%
          height 30px
          margin 10px auto
          font-size 13px

      .year-tariff
        grid-column 2/2
        grid-row 4/4

  .numbers
    padding 40px 10px
    grid-template-columns 1fr 1fr
    grid-template-rows 1fr 1fr 1fr

    .number-block
      flex-direction column
      align-items center
      height auto
      text-align center
      margin 20px 0

      .text
        font-size 14px
        margin 10px 0

    .bg
      top 40%

  .footer
    justify-content space-between

    .terms-of-use
      position relative
      padding 0 
      margin 0
      font-size 12px

@media only screen and (max-width 660px)
  .start
    padding 15px
    .start-main
      padding-top 20px
      .search
        form
          .search-company-btn
            width 50%
            font-size 10px

  .vedprofile-API
    .content
      display flex
      width 100%
      padding 30px 5px
      align-items center
      position relative
      justify-content space-between

      .data-companies
        width 80%

  .indicators
    .text-wrapper
      .view-data-btn 
        width 40%
        left calc(50% - 20%)

    .pics-wrapper
      .header-text
        display none

  .numbers
    .number-block
      .number
        font-size 26px

  .demo-access
    padding 0

    .block
      padding 30px 0

  .footer
    display none

@media only screen and (max-width 425px)
  .logo-wrapper
    width 17%

    .logo-company 
      width 57.25px
      height 25px

    .logo-text
      visibility hidden

  .start
    .start-main
      .search
        form
          .name-or-TIN-input
            padding 11px

  .key-capabilities
    padding 50px 20px

    .grid-wrapper 
      grid-auto-rows minmax(100px, auto)
      grid-gap 35px 10px

      .item
        .text 
          margin-top 12px
          text-align center

  .indicators
    .text-wrapper
      .view-data-btn
        position relative
        width 60%
        left 0

    .pics-wrapper
      display none

  .vedprofile-API
    padding 20px 0
    
    .content
      .data-companies
        .learn-more-btn
          width 80%

    .bg
      display none

  .tariffs
    padding 30px

    .tariff-container
      height auto
      grid-auto-rows minmax(0, auto)

      .tariff
        height auto
        padding 12px

        .arrange-btn
          width 80%

  .numbers
    .number-block
      .text
        margin 20px 0

  .demo-access
    .block
      .inputs
        input::placeholder
          font-size 12px

        .get-demo-access
          width 80%
          