@media only screen and (min-width 1680px)
    .start
        height 812px
        .start-main
            padding-left 93px
            .heading 
                font-size 72px
            .desc 
                font-size 24px
    .advantages
        .advs-wrapper
            .adv-container
                .text
                    .title
                        font-size 24px
                    .desc
                        font-size 16px
    // .key-capabilities
    //     .title
    //         font-size: 40px
    //     .grid-wrapper 
    //         .item
    //             width 92px
    //             height 92px
    //             .text
    //                 font-size: 24px
    .numbers
        .number-block
            font-size 58px