.header 
  height 70px
  background linear-gradient(188.26deg, rgba(1, 220, 186, 0.9) 17.02%, rgba(127, 48, 203, 0.9) 85.24%)

  .inner-block
    display flex
    position relative
    height 100%
    justify-content space-between
    margin 0 auto

    .nav
      display flex
      width 65%
      height 100%
      align-items center
      ul 
        display flex
        position relative 
        height 100%
        align-items center

        .item
          margin-right 20px
          font-size 22px
          transition 1s
          color white

        .item:hover
          font-size 24px
    // Search

    .search 
      position relative
      display flex
      width 32%
      height 100%
      align-items center
      transition width 1s ease-in-out, left 1.5s ease-in-out

      form 
        height 65%
        width 100%
        input 
          position relative
          width 100%
          height 100%
          padding 1px 10px
          outline none
          padding-left 45px
          transition width 1s ease-in-out, left 1.5s ease-in-out
          border-radius 15px
          font-size 20px
          &::placeholder
            font-size 18px

        .search-icon 
          position absolute
          background-image url(/icons/search.svg)
          background-size contain
          width 25px 
          height 25px
          left:8px
          top 35%