.header 
    display flex
    position relative
    height 80px
    background linear-gradient(188.26deg, #01DCBA 17.02%, #7F30CB 85.24%)
    .nav
        display flex
        width 80%
        height 100%
        align-items center
        ul 
            display flex
            position relative 
            height 100%
            align-items center
            .item
                margin-right 20px
                font-size 25px