@font-face 
    font-family: 'Poppins'
    src url(/font/poppins/Poppins.ttf)

@font-face 
    font-family: 'Nunito'
    src url(/font/nunito/Nunito.ttf)

p, a, h1, h2, h3, h4, h5, h6
    font-family 'Poppins'
    font 'Poppins'