@import "sections/news.scss";
@import "sections/basic-lessons.scss";
@import "sections/add-lessons.scss";
@import "sections/ethers.scss";

body {
  font-family: "Open Sans";
}
.inner-block {
  padding: 0 89px 0 109px;
  max-width: 1615px;
}
.heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #004f71;
}
