@font-face 
  font-family: "AvertaStd";
  src: url(../../fonts/AvertaStdPE-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;

@font-face 
  font-family: "AvertaStd";
  src: url(../../fonts/AvertaStdPE-Bold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;

@font-face 
  font-family: "AvertaStd";
  src: url(../../fonts/AvertaStdPE-Light.otf) format("opentype");
  font-weight: 300;
  font-style: normal;

@font-face 
  font-family: "AvertaStd";
  src: url(../../fonts/AvertaStdPE-Semibold.otf) format("opentype");
  font-weight: 600;
  font-style: normal;

body
  font-family 'AvertaStd'

h1
  font-style normal
  font-weight bold