@font-face 
  font-family: "AvertaStd";
  src: url(../../fonts/AvertaStdPE-Regular.otf) format("truetype");
  font-weight: normal;
  font-style: normal;

@font-face 
  font-family: "AvertaStd";
  src: url(../../fonts/AvertaStdPE-Bold.otf) format("truetype");
  font-weight: bold;
  font-style: normal;

@font-face 
  font-family: "AvertaStd";
  src: url(../../fonts/AvertaStdPE-Light.otf) format("truetype");
  font-weight: 300;
  font-style: normal;

@font-face 
  font-family: "AvertaStd";
  src: url(../../fonts/AvertaStdPE-Semibold.otf) format("truetype");
  font-weight: 600;
  font-style: normal;

* 
  font-family 'AvertaStd'
