@media only screen and (max-width: 2200px) 
  .header
    height 112px
    .header-right
      padding 28px 15px
      .search
        width 18.7rem
      .user
        .user-pic
          height 3.4rem
          width 3.4rem
        .user-info
          .name-user
            font-size 1rem
          .mail-user
            font-size 0.7rem
  .nav
    .nav-header
      .logo
        width 45px
        height 45px
      .workload
        margin-left 57px
        margin-top -10px
        font-size 1.75rem
      .desc 
        margin-left 57px
        font-size 0.88rem
    .nav-list-wrapper
      .nav-element 
        a
          .title
            font-size 1.1rem
          .arrow 
            right 38px
        ul
          .inner-list
            padding 0
            padding-left 38px
            font-size 15px

@media only screen and (max-width: 1800px) 
  .header
    height 105px
    .header-left
      .toggle-nav
        margin 0 20px
      .name-page
        font-size 1.8rem
    .header-right
      padding 24px 15px
      .search
        width 17.7rem
      .user
        .user-pic
          height 3.1rem
          width 3.1rem
  .nav
    .nav-header
      height 105px
      .logo
        width 43px
        height 43px
      .workload
        margin-left 55px
        margin-top -14px
        font-size 1.75rem
      .desc 
        margin-left 55px
        font-size 0.78rem
    .nav-list-wrapper
      padding 10px 3px
      .nav-element 
        a
          .title
            font-size 17px
          .arrow 
            right 29px
        ul
          .inner-list
            padding-left 42px
            font-size 14px
          .inner-list::before
            left 2.5rem

@media only screen and (max-width: 1600px) 
  .header
    height 98px
    .header-right
      padding 20px 15px
      .search
        width 16.6rem
  .nav
    .nav-header
      padding 30px 
      height 98px
      .workload 
        font-size 1.60rem
        margin-top -14px
        margin-left 49px
      .desc 
        font-size 0.75rem
        margin-left 49px
        font-size 0.78rem
      .logo
        transform: translate(50%, 45%)
    .nav-list-wrapper
      width 98%
      padding 14px 3px
      .nav-element 
        a
          padding 0.8rem 2rem
          .icon
            min-width 30px
          .title
            padding 4px 11px
            font-size 1rem
          .arrow 
            right 30px
        ul
          padding 8px 0
          .inner-list
            padding-left 42px
            font-size 13.5px
          .inner-list::before
            left 2.7rem

@media only screen and (max-width: 1400px) 
  .header
    height 77px
    .header-left
      .toggle-nav
        margin 0 15px
      .name-page
        font-size 1.5rem
    .header-right
      padding 15px
      .search
        width 12rem
        form
          label
            .search-input
              font-size 1rem
            .search-input::placeholder
              font-size 0.9rem
      .header-btns
        .header-btn
          width 33px
          height 33px
      .user
        .user-pic
          height 2.7rem
          width 2.7rem
        .user-info
          .name-user
            font-size 0.8rem

  .nav
    .nav-header
      height 77px
      padding 21px 18px
      .logo
        width 35px
        height 35px
      .workload
        margin-left 47px
        margin-top -9px
        font-size 1.4rem
      .desc 
        margin-left 47px
        font-size 0.6rem

    .nav-list-wrapper
      width 95%
      padding 8px 2px
      padding 10px 5px
      .nav-element 
        width 100%
        a
          padding 0.5rem 1rem
          .icon
            font-size 16px
            min-width 20px
          .title
            padding 4px 15px
            font-size 0.9rem
          .arrow 
            right 25px
        .inner-list-wrapper
          padding 8px 0
          .inner-list
            padding-left 42px
            font-size 12px
          .inner-list::before
            left 2.5rem

@media only screen and (max-width: 1200px)
  .nav
    .nav-header
      .logo
        width 30px 
        height 30px
      .workload
        font-size 1.2rem
        margin-left 37px
      .desc
        font-size 0.55rem
        margin-left 37px
    .nav-list-wrapper
      .nav-element 
        a
          .icon
            font-size 13px
            min-width 20px
          .title 
            padding 3px 5px
            font-size 0.8rem
          .arrow
            right 17px
        .inner-list-wrapper
          .inner-list
            padding-left 29px
          .inner-list:hover
            padding-left 40px
          .inner-list::before
            left 1.6rem
          .inner-list:hover:before
            width 0.8rem
  .header
    height 70px
    border-left 2px solid #f8f8f8
     .header-left
      .toggle-nav
        font-size 0.6rem
      .name-page
        font-size 0.8rem
    .header-right
      .search
        max-width 10rem
      .user
        .user-info
          .name-user
            font-size 0.6rem
          .mail-user
            font-size 0.5rem

@media only screen and (max-width: 992px)
  .header
    width calc(100% - 80.5px)
    margin-left 80.5px
    height 76px
    .header-left
      padding 0
      .toggle-nav
        display none
    .header-right
      .search
        display none
      .header-btns
        .header-btn
          width 37px
          height 37px
          margin 0 10px
      .user
        .user-info
          .name-user
            font-size 0.9rem
        .user-pic
          height 2.5rem
          width 2.5rem
  .nav
    width 80.5px
    .nav-header
      height 76px
      padding 0
      .logo
        width 39.5px
        height 39.5px
        transform translate(50%, 50%)
      .workload
        display none
      .desc
        display none
    .nav-list-wrapper
      width 90%
      .nav-element
        a
          .icon 
            padding 0
            font-size 1.375rem
            min-width 20px
            margin 0 auto
          .title 
            display none
          .arrow
            display none
        ul
          .inner-list
            display none
           .inner-list::before
            display none
  .main-content 
    width calc(100% - 80.5px)
    margin-left 80.5px

@media only screen and (max-width: 600px)
  .nav
    height auto
    .nav-list-wrapper
      display none
  .header
    .header-left
      .name-page
        display none
      .toggle-nav
        display block
        margin 0 
    .header-right
      padding 15px 5px
  .main-content
    width 100%
    margin 0