@media only screen and (max-width: 2366px) 
    //----- HEADER ---------
    .header
        height 112px
        .header-left
            padding 32px 0
            .toggle-nav
                margin 0 27px
        .header-right
            padding 28px 15px
            .search
                width 18.7rem
                // height 3.3rem!!
                // margin 0 10px!!
            .header-btns
                button
                    width 46px
                    height 46px
                    // margin 12px 10px!!
            .user
                .user-pic
                    height: 3.4rem;
                    width: 3.4rem;
                .user-info
                    .name-user
                        font-size 1rem
                    .mail-user
                        font-size 0.7rem
        //----- / HEADER ---------

        //------ NAV ---------
    .nav
        .nav-header
            .logo
                width 45px
                height 45px
            .workload
                margin-left 57px
                margin-top -14px
                font-size 1.75rem
            .desc 
                margin-left 57px
                font-size 0.78rem
        .nav-list-wrapper
            .nav-element 
                a
                    .title
                        font-size 1.1rem
                    .arrow 
                        right 38px
                ul
                    .inner-list
                        padding-left 48px
                        font-size 15px
@media only screen and (max-width: 2166px) 
    .header
        height 105px
        .header-left
            padding 30px 0
            .toggle-nav
                margin 0 25px
            .name-page
                font-size 1.8rem
        .header-right
            padding 24px 15px
            .search
                width 17.7rem
            .header-btns
                button
                    width 44px
                    height 44px
            .user
                .user-pic
                    padding 0.07rem 0
                    height: 3.1rem;
                    width: 3.1rem;
                .user-info
                    padding 0.3rem 0.6rem
                    .mail-user
                        font-size 0.7rem

    .nav
        .nav-header
            .logo
                width 43px
                height 43px
            .workload
                margin-left 55px
                margin-top -14px
                font-size 1.75rem
            .desc 
                margin-left 55px
                font-size 0.78rem
        .nav-list-wrapper
            padding 10px 3px
            .nav-element 
                // padding 0 1.3rem
                a
                    .title
                        font-size: 17px
                    .arrow 
                        right 29px
                ul
                    .inner-list
                        padding-left 42px
                        font-size 14px
                    .inner-list::before
                        left 2.5rem

@media only screen and (max-width: 1966px) 
    .header
        height 98px
        .header-left
            padding 30px 0
            .toggle-nav
                margin 0 23px
        .header-right
            padding 20px 15px
            .search
                width 16.6rem
            .header-btns
                button
                    width 37px
                    height 37px
            .user
                .user-pic
                    margin 5px 0
                    height: 2.7rem;
                    width: 2.7rem;
                .user-info
                    .mail-user
                        font-size 0.7rem
    .nav
        .nav-list-wrapper
            width 98%
            padding 4px 3px
            .nav-element 
                a
                    padding 0.8rem 2rem
                    .icon
                        min-width 30px
                    .title
                        padding 4px 11px
                        font-size 1rem
                    .arrow 
                        right 30px
                ul
                    padding 8px 0
                    .inner-list
                        padding-left 42px
                        font-size 13.5px
                    .inner-list::before
                        left 2.7rem

@media only screen and (max-width: 1766px) 
    .header
        height 91px
        .header-left
            padding 25px 0
            .toggle-nav
                margin 0 21px
            .name-page
                font-size 1.7rem
        .header-right
            padding 17px 15px
            .search
                width 15.7rem
                height 55px
                margin 4px 10px
                form
                    .search-icon
                        top 13px
            .header-btns
                button
                    width 35px
                    height 35px
                    margin 13px 11px
            .user
                .user-pic
                    margin-top: 10px
                    height: 2.4rem;
                    width: 2.4rem;
                .user-info
                    margin-top: 5px
                    .name-user
                        font-size 0.9rem
                    .mail-user
                        font-size 0.7rem
    .nav
        .nav-header
            padding 36px 32px
            .logo
                width 39px
                height 39px
            .workload
                margin-left 40px
                margin-top -14px
                font-size 1.75rem
            .desc 
                margin-left 40px
                font-size 0.78rem
        .nav-list-wrapper
            .nav-element 
                a
                    .title
                        padding 4px 13.5px
                        font-size: 15px
                    .arrow 
                        right 48px
                ul
                    padding 8px 0
                    .inner-list
                        padding 0
                        padding-left 38px
@media only screen and (max-width: 1666px)
    .header
        height 86px
        .header-right
            padding 14px 15px
    .nav
        .nav-header
            .workload
                font-size: 1.60rem
            .desc 
                font-size: 0.75rem
            
@media only screen and (max-width: 1566px) 
    .header
        height 84px
        .header-left
            padding 22px 0
            .toggle-nav
                margin 0 19px
            .name-page
                font-size 1.6rem
        .header-right
            padding 12px 13px
            .search
                width 14.7rem
                form
                    .search-icon
                        top 15px
            .header-btns
                button
                    width 39px
                    height 39px
            .user
                .user-pic
                    margin 9px 0
                    height: 2.6rem;
                    width: 2.6rem;
                .user-info
                    .mail-user
                        font-size 0.7rem
    .nav
        .nav-header
            padding 23px 20px
            .logo
                width 37px
                height 37px
            .workload
                margin-left 49px
                margin-top -14px
                font-size 1.75rem
            .desc 
                margin-left 49px
                font-size 0.78rem
        .nav-list-wrapper
            padding 8px 2px
            .nav-element 
                a
                    .title
                        padding 4px 15px
                    .arrow 
                        right 46px
                ul
                    .inner-list
                        padding-left 35px
                        font-size 12.6px
@media only screen and (max-width: 1440px) 
    .header
        height 75px
        .header-left
            padding 20px 0
            .toggle-nav
                margin 0 18px
            .name-page
                font-size 1.55rem
        .header-right
            padding 8px 13px
            .search
                width 14rem
            .header-btns
                button
                    width 35px
                    height 35px
            .user
                .user-info
                    .name-user
                        font-size 0.82rem
                    .mail-user
                        font-size 0.7rem

//stop
@media only screen and (max-width: 1166px) 
    .header
        height 112px
@media only screen and (max-width: 1024px) 
    .header
        height 77px
@media only screen and (max-width: 966px) 
    .header
        height 112px
@media only screen and (max-width: 768px) 
    .header
        height 112px
@media only screen and (max-width: 425px) 
    .header
        height 112px
@media only screen and (max-width: 375px) 
    .header
        height 112px
@media only screen and (max-width: 320px) 
    .header
        height 112px

@media only screen and (max-width: 1366px)
    .header
        height 77px
        .header-left
            padding 20px 0
            .toggle-nav
                margin 0 17px
            .name-page
                font-size 1.525rem
                font-weight 700
        .header-right
            height 100%
            padding 15px
            .search
                width 12.75rem
                height 2.8rem
                margin 0 10px
                form
                    .search-icon
                        top 12px
            .header-btns
                button
                    width 30px
                    height 30px
                    margin 10px 
            .user
                .user-pic
                    height: 2rem;
                    width: 2rem;
                    margin 0.7rem 1rem
                .user-info
                    padding 0.4rem 0
                    .name-user
                        font-weight bold
                        font-size 0.8rem
                    .mail-user
                        font-size 0.7rem
    .nav
        .nav-header
            padding 21px 18px
            height auto
            .logo
                width 35px
                height 35px
            .workload
                margin-left 47px
                margin-top -9px
                font-size 1.5rem
            .desc 
                margin-left 47px
                font-size 0.6rem
        .nav-list-wrapper
            width 95%
            padding 10px 5px
            margin 0 auto
            .nav-element 
                width 100%
                a
                    padding 0.5rem 1rem
                    .icon
                        font-size 17px
                    .title
                        // padding 5px 13.8px
                        font-size 0.8rem
                    .arrow 
                        right 30px
                ul
                    .inner-list
                        padding-left 42px
                        font-size 12px
                    .inner-list::before
                        left 2.5rem

@media only screen and (max-width: 1150px)
    .nav
        .nav-header
            .logo
                width 30px 
                height 30px
            .workload
                font-size: 1.2rem
                margin-left 37px
            .desc
                font-size: 0.45rem
                margin-left 37px

        .nav-list-wrapper
            .nav-element 
                a
                    .icon
                        font-size 11px
                        min-width 20px
                    .title 
                        padding 3px 5px
                        font-size 0.6rem
                    .arrow
                        right 17px
    .header
        height 70px
        .header-right
            padding 17px 14px
            .search
                width 10rem
                height 2.55rem
                form
                    .search-icon
                        font-size: 10px
            .header-btns
                button
                    width 26px
                    height 26px
                    margin 7px
            .user
                .user-pic
                    height: 2rem;
                    width: 2rem;
                    margin 0.3rem 0.7rem
                .user-info
                    padding 0.2rem 0
                    .name-user
                        font-weight bold
                        font-size 0.6rem
                    .mail-user
                        font-size 0.5rem
       .header-left
            .toggle-nav
                font-size 0.6rem
                margin 0 15px
            .name-page
                font-size 1rem
                font-weight 700

@media only screen and (max-width: 1000px)
    .header
        height 55px
    .nav
        .nav-header
            .logo
                width 25px
                height 25px
            .workload
                font-size: 1rem
                margin-left 26px
            .desc
                font-size: 0.45rem
                margin-left 26px
        .nav-list-wrapper
            .nav-element
                ul
                    .inner-list
                         padding-left 35px
                         font-size 10px
                     .inner-list::before
                         left 2.3rem
