@media only screen and (min-width 1800px)
  .numbers
    .inner-block
      .numbers-wrapper
        margin-top 10%

@media only screen and (max-width 1441px)
  .pd-header
    padding-left 82px
    padding-right 107px
  //----- START -----

  .start
    height 780px

    .inner-block
      padding-left 82px

      .content
        padding-top 100px

        .heading
          font-size 58px
          line-height 56px

        .subtitle
          font-size 20px
          line-height 26px

        .search
          height 63px

  //----- ADVANTAGES -----

  .advantages

    .inner-block
      padding-top 150px


      .text-wrapper
        padding 0 230px


        .heading
          font-size 52px
          line-height 56px


        .subtitle
          font-size 46px
          line-height 53px


        .desc
          font-size 34px


      .cards-wrapper
        padding 0 150px
        grid-gap 33px 44px


        .accurate-statistics
          padding 120px 85px


        .card-2, .card-3
          padding 110px 85px
  //----- KEY-CAPABILITIES -----

  .keys-padding
    padding 0 185px 23px 200px


  .key-capabilities

    .inner-block
      padding-top 135px


      .container

        .pic-wrapper

          .phone-pic
            width 391px
            height 778px
  //----- INDICATORS -----

  .indicators

    .inner-block

      .content-block

        .text-wrapper

          .overhead-text
            font-size 28px
            line-height 27px


          .title
            font-size 34px
            line-height 36px


          .desc
            font-size 34px
            line-height 36px


        .pic-wrapper

          .phone-pic
            width 395px
            height 781px
  //----- VEDPROFILE-API -----

  .vedprofile-API

    .inner-block

      .content-block
        padding 52px 43px 0 48px


        .left-side

          .overhead-text
            font-size 28px
            line-height 35px


        .text-wrapper
          padding-bottom 50px


          .title
            font-size 34px
            line-height 42px


          .desc
            padding 53px 0
            font-size 34px
            line-height 36px


          .find-data-btn
            width 71%
            font-size 22px
  //----- NUMBERS -----

  .numbers
    .inner-block
      padding 290px 0

      .numbers-wrapper
        margin-top 10px

        .number-block
          .number
            font-size 58px

          .text 
            font-size 14px
  //----- DEMO-ACCESS -----

  .demo-access
    .inner-block
      .block-wrapper
        width 95%
        height 423px

        .content-block
          top -35%
          padding 49px 73px 106px 83px

          .text-wrapper
            .title
              font-size 32px
              line-height 40px

            .line
              margin-top 24px

            .desc
              padding 45px 0
              font-size 28px
              line-height 36px

          .inputs
            form

              .get-demo-access
                width 52%
                height 58px
                font-size 14px

      .pay-systems
        .pay-system
          width 120px
          height 82px
  //----- FOOTER -----

  .footer
    .inner-block
      height 110px
      padding 0 67px 0 78px
      a
        .logo
          width 57px 
          height 19px

        .logo-text
          font-size 30px
          margin-left 6px

      .text
        .terms-of-use
          margin-left 50px


@media only screen and (max-width 1367px)
  .pd-header
    padding 0 56px
  //----- HEADER -----
  .header
    .inner-block
      a
        .logo
          width 54px
          height 19px
        .logo-text
          font-size 28px
          margin-left 6px
          .ved-text
            font-size 28px
      .nav-wrapper
        .item
          font-size 18px
      .search
        width 22%
        form
          height 55%
          input
            padding-left 40px
            &::placeholder
              font-size 16px
            .search-icon
              width 18px
              height 18px
              top 23%
      .sign-in
        height 30px
        width 100px
        font-size 12px

  //----- START -----

  .start
    height 680px

    .inner-block
      padding-top 45px
      padding-left 56px
      .content
        padding-top 50px

        .heading
          font-size 54px
          line-height 54px
          max-width 90%

        .subtitle
          max-width 83%

        .search
          margin 35px 0
          form


            .name-or-TIN-input::placeholder
              font-size 22px


            .name-or-TIN-input::placeholder
              font-size 22px

  //----- ADVANTAGES -----

  .advantages

    .inner-block
      padding-top 117px

      .text-wrapper
        padding 0 170px

        .heading
          font-size 48px
          line-height 52px

        .subtitle
          font-size 40px
          line-height 46px

        .desc
          font-size 28px

      .cards-wrapper
        grid-gap 25px 30px
        padding 0 90px

        .accurate-statistics
          padding 90px 65px

          .icon
            width 50px
            height 50px
            margin-bottom 12px

          .title
            font-size 52px
            line-height 48px
            max-width 55%

          .card-desc
            font-size 30px
            line-height 34px

          .small-text
            font-size 18px
            padding-top 18px
            margin-top 108px

        .pics
          top 2%
          height 45%
          .mobile-version-pic
            width 46%

        .card-2, .card-3
          padding 80px 65px

          .icon
            width 50px
            height 50px
            margin-bottom 12px

          .title
            min-height 130px
            font-size 28px
            line-height 28px

          .card-desc
            font-size 28px
            line-height 30px

  //----- KEY-CAPABILITIES -----

  .keys-padding
    padding 0 140px 23px 150px

  .key-capabilities

    .inner-block
      padding-top 105px 

      .title
        font-size 52px
        line-height 54px

      .subtitle
        font-size 32px
        line-height 34px

      .container
        padding 50px 0 65px 68px

        .keys

          .key
            margin-top 60px

            .icon
              width 60px
              height 60px

            .text
              padding-top 32px
              font-size 32px
              line-height 36px
        .pic-wrapper

          .phone-pic
            width 355px
            height 707px
   //----- INDICATORS -----

  .indicators

    .inner-block

      .content-block
        padding 53px 0 28px 68px
        .text-wrapper

          .overhead-text
            font-size 24px
            line-height 22px


          .title
            font-size 30px
            line-height 32px


          .desc
            font-size 30px
            line-height 32px

        .pic-wrapper
          margin-top 10px
          .phone-pic
            width 387px
            height 774px
        .pagination

          .pag-item
            width 14px
            height 14px
  //----- VEDPROFILE-API -----

  .vedprofile-API

    .inner-block

      .content-block
        padding 52px 58px 0 55px

        .left-side
          height auto

          .overhead-text
            font-size 24px
            line-height 22px

        .text-wrapper

          .title
            font-size 30px
            line-height 32px
            br
              display none

          .desc
            padding 43px 0
            font-size 30px
            line-height 32px

          .find-data-btn
            width auto
            padding 10px 30px
            height 57px
            font-size 18px
  //----- TARIFFS -----

  .tariffs

    .inner-block
      padding 152px 127px 85px 167px 

      .title
        font-size 52px
        line-height 58px

      .subtitle
        font-size 32px
        line-height 34px
        padding 62px 0

      .tariffs-wrapper
        grid-gap 27px 25px

        .tariff
          padding 27px 50px

          .number-company
            font-size 28px
            line-height 32px

          .desc
            font-size 26px
            line-height 30px

            .arrange::after
              width 25px
              height 25px
              right -34px
              bottom 1px

  //----- NUMBERS -----

  .numbers
    .inner-block
      padding 260px 0

      .numbers-wrapper
        margin-left 24%
        margin-top 0
        grid-gap 80px 40px

        .number-block
          .number
            font-size 58px

          .text 
            font-size 14px
  //----- DEMO-ACCESS -----

  .demo-access
    .inner-block
      .block-wrapper
        width 95%
        height 423px

        .content-block
          top -30%
          padding 39px 63px 86px 62px

          .text-wrapper
            .title
              font-size 29px
              line-height 36px

            .line
              margin-top 20px

            .desc
              padding 40px 0
              font-size 24px
              line-height 28px

          .inputs
            form
              input::placeholder
                font-size 14px
                line-height 16px
  // ----- FOOTER -----
  .footer
    .inner-block
      padding 0 47px 0 50px
      height 90px
      .text
        .copyright
          font-size 12px

        .terms-of-use
          font-size 12px
          margin-left 30px
 
@media only screen and (max-width 1024px)
  .pd-header
    padding-left 45px
    padding-right 60px
  //----- HEADER -----

  .header
    height 60px

    .inner-block

      a
        .logo
          width 66px
          height 28px

        .logo-text
          font-size 28px

          .ved-text
            font-size 28px

      .nav-wrapper
        display none
      
      .search
        margin-left 32%

  //----- START -----

  .start

    .inner-block
      height 650px
      padding-left 45px

      .content
        padding-top 40px
        .heading
          font-size 50px
          line-height 48px

        .subtitle
          font-size 18px
          line-height 22px

        .search
          form

            .name-or-TIN-input::placeholder
              font-size 18px

            .name-or-TIN-input::placeholder
              font-size 18px
      .pic-side
        .pic
          margin-top 40px
  //----- ADVANTAGES -----

  .advantages

    .inner-block

      .text-wrapper
        padding 0 140px


        .heading
          font-size 44px
          line-height 48px
          max-width 100%

        .subtitle
          font-size 36px
          line-height 44px


        .desc
          font-size 24px
          max-width 100%

      .cards-wrapper
        grid-gap 20px 25px
        padding 0 50px


        .accurate-statistics
          padding 70px 50px


          .title
            font-size 48px
            line-height 44px
            max-width 38%

          .card-desc
            font-size 26px
            line-height 28px


          .small-text
            padding-top 14px
            margin-top 80px
            font-size 16px
            max-width 45%

        .card-2, .card-3
          padding 60px 50px
  //----- KEY-CAPABILITIES -----

  .keys-padding
    padding 0 40px 23px 60px


  .key-capabilities

    .inner-block

      .subtitle
        font-size 28px
        line-height 32px

      .container
        padding 30px 0 65px 68px


        .keys

          .key

            .text
              padding-top 30px
              font-size 28px
              line-height 32px
  //----- VEDPROFILE-API -----

  .vedprofile-API

    .inner-block

      .content-block
        padding 52px 48px 0 45px

        .left-side
          height auto

          .overhead-text
            padding-bottom 20px

        .text-wrapper

          .title
            br
              display none

          .find-data-btn
            margin-top 34px
  //----- TARIFFS -----

  .tariffs

    .inner-block
      padding 142px 57px 75px 57px

      .title
        font-size 46px
        line-height 50px


      .subtitle
        font-size 26px
        line-height 29px
        padding 52px 0


      .tariffs-wrapper
        grid-gap 22px 20px


        .tariff
          padding 25px 40px


          .number-company
            font-size 25px
            line-height 29px


          .desc
            font-size 23px
            line-height 27px


            .arrange::after
              width 20px
              height 20px
              right -25px
              bottom 1px
  //----- NUMBERS -----

  .numbers
    &::before 
      opacity 0.3

    .inner-block
      padding 80px 0 120px 0

      .numbers-wrapper
        width 600px
        margin 0 auto
        grid-gap 60px 40px

        .number-block
          .number
            font-size 40px

          .text 
            font-size 12px
            line-height 16px
  //----- DEMO-ACCESS -----

  .demo-access
    .inner-block
      .block-wrapper
        height auto
        padding-top 25px

        .content-block
          position relative
          flex-direction column
          top 0
          height 100%
          padding 39px 63px 66px 62px

          .text-wrapper
            width 100%

          .inputs
            width 100%