// --- Adaptive for small screens ---
@media only screen and (max-width 780px)
    //----- HEADER -----
    .header
        height 60px
        a
            margin-left 50px
    //----- START -----
    .start
        height 580px
        padding-left 50px
        padding-top 60px
        .content
            .heading
                font-size 40px
                line-height 40px
            .subtitle
                font-size: 16px
                line-height 20px
                padding 25px 0
            .search
                height 50px
        .pic-side
            .block
                width 220px
                height 214px
    //----- ADVANTAGES -----
    .advantages
        .text-wrapper
            padding 0 60px
            .heading
                font-size: 38px
                line-height 42px
            .subtitle
                font-size 32px
                line-height 38px
            .desc
                font-size 22px
        .cards-wrapper
            padding 0 40px
            grid-gap 20px 25px
            padding 0 30px
            grid-auto-rows minmax(50px, auto) 
            .accurate-statistics
                padding 60px 40px
                .title
                    font-size 46px
                    line-height 42px
                    max-width 55%
                .card-desc
                    font-size 24px
                    line-height 26px
                    max-width 55%
                .small-text
                    padding-top 14px
                    margin-top 80px
                    font-size 16px
                    max-width 60%
            .pics
                display flex
                width 30%
                align-items: center
                justify-content: center
                transform translate(-20%, 5%)
                .pc-version-pic
                    display none
                .mobile-version-pic
                    top auto
                    left auto
                    width 100%
                    position relative
            .card-2, .card-3
                padding 50px 40px
                .title
                    font-size 28px
                    line-height 26px
                    max-width 100%
                .card-desc
                    font-size 26px
                    line-height 28px
                .phone-pic
                    display none
    //----- KEY-CAPABILITIES -----
    .keys-padding
        padding 0 50px 23px 50px
    .key-capabilities
        padding-top 85px 
        .subtitle
            max-width 90%
        .container
            margin-top 56px
            padding 30px 48px 65px 48px
            .keys
                .key
                    margin-top 65px
                    .text
                        padding-top 23px
                        font-size 28px
                        line-height 32px
            .pic-wrapper
                display none
    //----- INDICATORS -----
    .indicators
        .content-block
            padding 53px 0 28px 48px
            .text-wrapper
                max-width 70%
                margin-bottom 48px
                .overhead-text
                    font-size 18px
                    line-height 16px
                .title
                    padding 36px 0
                    font-size 28px
                    line-height 30px
                .desc
                    font-size 26px
                    line-height 28px
            .pic-wrapper
                .phone-pic
                    width 359px
                    height 710px
            .pagination
                .pag-item
                    width 12px
                    height 12px

@media only screen and (max-width 620px)
    //----- START -----
    .start
        padding 80px 50px
        flex-direction column
        height auto
        .content
            width 100%
            .heading
                max-width 100%
                font-size 42px
                line-height 42px
            .subtitle
                max-width 94%
                padding 25px 0
            .search 
                margin 30px 0
                form
                    .name-or-TIN-input
                        padding 0 25px
        .pic-side
            display none
    //----- ADVANTAGES -----
    .advantages
        .text-wrapper
            .heading
                font-size 34px
                line-height 36px
            .subtitle
                font-size 28px
                line-height 30px
            .desc
                font-size 18px
                line-height 22px
        .cards-wrapper
            grid-gap 15px 20px
            .accurate-statistics
                .title 
                    max-width 100%
                    font-size 32px
                    line-height 30px
                .card-desc
                    font-size 20px
                    line-height 22px
                    max-width 100%
                .small-text
                    max-width 90%
                    font-size 14px
                    line-height 16px
            .pics
                display none
            .card-2, .card-3
                padding 35px 25px
                .icon
                    margin 10px 5px
                .title
                    min-height 90px
                    font-size 22px
                    line-height 22px
                .card-desc
                    font-size 20px
                    line-height 18px
    //----- KEY-CAPABILITIES -----
    .keys-padding
        padding 0 30px 23px 30px
    .key-capabilities
        padding-top 85px 
        .title
            font-size 46px
            line-height 50px
        .subtitle
            font-size 24px
            line-height 28px
        .container
            padding 5px 40px 55px 40px
            .keys
                .key
                    margin-top 55px
                    .text
                        padding-top 20px
                        font-size 24px
                        line-height 28px
    //----- INDICATORS -----
    .indicators
        .content-block
            padding 53px 48px 28px 48px
            .text-wrapper
                max-width 100%
                margin-bottom 68px
                .title
                    padding 36px 0
                    font-size 26px
                    line-height 28px
                .desc
                    font-size 24px
                    line-height 26px
            .pic-wrapper
                display none

@media only screen and (max-width 480px)
    //----- HEADER -----
    .header
        a
            margin-left 25px
            .logo
                width 60px
                height 25px
            .logo-text
                font-size 24px
                .ved-text
                    font-size: 24px
        .sign-in
            height 35px
            font-size 16px
            margin 0 15px
    //----- START -----
    .start
        padding 60px 35px
        .content
            .heading
                font-size: 38px
                line-height: 36px
    //----- ADVANTAGES -----
    .advantages
        padding-top 60px
        .text-wrapper
            padding 30px 
            .heading
                font-size 30px
                line-height 30px
            .subtitle
                font-size 24px
                line-height 26px
                padding 20px 0
            .desc
                font-size 16px
                line-height 18px
        .cards-wrapper
            display flex
            flex-direction: column
            margin-top 30px
            .accurate-statistics
                padding 0 25px
                padding-top 35px
                .icon 
                    width 50px
                    height 50px
                .title 
                    max-width 100%
                    font-size 32px
                    line-height 30px
                .card-desc
                    font-size 20px
                    line-height 22px
                    max-width 100%
                .small-text
                    max-width 90%
                    font-size 14px
                    line-height 16px
            .card-2, .card-3
                padding 40px 25px
                .icon
                    width 50px
                    height 50px
                    margin 10px 5px
                .title
                    min-height 90px
                    font-size 22px
                    line-height 22px
                .card-desc
                    font-size 20px
                    line-height 18px
                    padding-bottom 70px
    //----- KEY-CAPABILITIES -----
    .key-capabilities
        .title
            font-size 36px
            line-height 40px
        .subtitle
            font-size 20px
            line-height 24px
        .container
            padding 5px 25px 55px 25px
            .keys
                .key
                    margin-top 55px
                    .icon
                        width 55px
                        height 55px
                    .text
                        padding-top 20px
                        font-size 24px
                        line-height 28px
    //----- INDICATORS -----
    .indicators
        .content-block
            padding 53px 30px 28px 30px 
            .text-wrapper
                .title
                    padding 30px 0
                    font-size 24px
                    line-height 26px
                .desc
                    font-size 22px
                    line-height 24px


@media only screen and (max-width 375px)
    //----- HEADER -----
    .header
        a
            margin-left 15px
            .logo
                width 49px
                height 20px
            .logo-text
                font-size 22px
                .ved-text
                    font-size: 22px
        .sign-in
            width 90px
    //----- START -----
    .start
        padding 50px 20px
        .content
            .heading
                font-size: 34px
                line-height: 34px
            .subtitle
                font-size: 14px
                line-height 16px
            .search
                form
                    .name-or-TIN-input
                        font-size: 16px
                    .name-or-TIN-input::placeholder
                        font-size: 16px
    //----- INDICATORS -----
    .indicators
        .content-block
            padding 53px 30px 28px 30px 
            .text-wrapper
                .overhead-text
                    display none
                .title
                    padding 0
                    padding-bottom 30px
                    font-size 22px
                    line-height 24px
                .desc
                    font-size 20px
                    line-height 22px