.wrapper {
  display: grid;
  padding: 2rem;
  row-gap: 4rem;
}
.input {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 150%;
    color: rgba(0, 79, 113, 0.5);
  }

  &__input {
    color: #004f71;
    font-size: 18px;
    line-height: 160%;
    border: 1px solid #009ee2;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 25px 51px;
    width: 535px;
    height: 88px;
    &::placeholder {
      opacity: 1;
      transition: 0.12s ease-in-out;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }
}

.select {
  position: relative;

  color: #004f71;

  font-size: 18px;
  line-height: 160%;

  border: 1px solid #009ee2;
  border-radius: 20px;

  padding: 25px 51px;
  width: 535px;
  height: 88px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../icons/arrow-down.svg");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: bottom 24px right 31px;

  &--small {
    width: 149px;
  }
}

.input-radio {
  &__wrapper {
    font-size: 14px;
    line-height: 150%;

    color: #004f71;
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
  }

  &__input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  &__pseudo-input {
    width: 24px;
    height: 24px;
    border: 1px solid #009ee2;
    border-radius: 50px;
    position: relative;
  }

  &__input:checked {
    + .input-radio__pseudo-input::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      background: #009ee2;
      border-radius: 50px;
    }
  }

  &__label {
    margin-left: 15px;
  }
}
