.advantages
    background-color black
    position relative
    color white
    .inner-block
        padding 167px 0 189px 0
        .text-wrapper
            padding 0 321px
            font-weight bold
            .heading
                font-size 57px
                line-height 64px
                color #9F78F2
                max-width 86%
            .subtitle
                padding 40px 0
                font-size 48px
                line-height 54px
                max-width 90%
            .desc
                font-size 36px
                line-height 39px
                color #CCCCCC
                max-width 90%

        .cards-wrapper
            display grid
            position relative
            margin-top 78px
            padding 0 230px
            grid-template-columns 1fr 1fr
            grid-template-rows 1fr 1fr
            grid-gap 36px 47px
            .accurate-statistics
                grid-column 1/3
                background: linear-gradient(132.33deg, #D24074 -0.67%, #1268C3 102.54%);
                border-radius: 48px
                padding 140px 90px
                .icon
                    width 80px
                    height 80px
                    margin-bottom 14px 
                .title
                    font-family 'AvertaStd'
                    font-style normal
                    font-weight bold
                    font-size 57px
                    line-height 53px
                    color #3A0354
                    margin 33.5px 0
                    max-width 34%
                .card-desc
                    max-width 42%
                    font-weight bold
                    font-size 36px
                    line-height 39px
                .small-text
                    display block
                    max-width 41%
                    border-top 1px solid #C4C4C4
                    font-weight 600
                    font-size 24px
                    line-height 24px
                    padding-top 27px
                    margin-top: 128px
                    margin-bottom 35px
            .pics
                position absolute
                right 0
                top 5.5%
                height 35%
                width 44%
                .pc-version-pic
                    height 100%
                .mobile-version-pic
                    // width 46%
                    position absolute
                    top 31%
                    left -14%
            .card-2, .card-3
                padding 130px 90px
                padding-right 41px
                border-radius 48px
                .icon
                    margin-bottom 33px
                .title
                    font-family 'AvertaStd'
                    font-style normal
                    font-weight bold
                    font-size: 36px
                    line-height: 37px
                    color #A739DB
                    max-width 50%
                    min-height 159px
                    padding 24px 0
                .card-desc 
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 39px;
                .phone-pic
                    width 24%
                    position absolute
                    bottom 0
            .card-2
                background-color #233247
                .card-desc
                    span
                        color #cccccc
            .card-3
                background-color #F3F3F3
                .card-desc 
                    color black
                    span
                        color opacityText