.demo-access
  position relative
  background-color #E5E5E5
  overflow visible


  .inner-block
    .block-wrapper
      display block
      position relative
      width 1291px
      height 473px 
      margin auto auto


      .content-block
        display flex
        position absolute
        width 100%
        top -40%
        padding 59px 83px 121px 93px
        background #FCFCFC
        box-shadow 0px 4px 48px rgba(0, 0, 0, 0.04)
        border-radius 49px
        justify-content space-between


        .text-wrapper
          width 36%


          .title
            font-weight bold
            font-size 36px
            line-height 44px
            color #233247


          .line
            margin-top 30px


          .desc
            padding 51px 0
            font-weight bold
            font-size 30px
            line-height 39px
            color #979797


        .inputs
          display flex
          position relative
          flex-direction column
          justify-content flex-end
          width 51%
          bottom 0
          form


            .phone-num
              display flex
              position relative
              margin 6px auto
              align-items center


              .country-code
                width 38%


              .number
                margin-left 2%
                width 60%
            input, .phone-num
              width 100%
              height 48px

            input 
              padding 0 20px 
              margin 6px auto
              border 1px solid #E5ECED
              box-sizing border-box
              box-shadow 0px 1px 6px rgba(0, 0, 0, 0.06)
              border-radius 2px
              font-size 16px
              
            input::placeholder
              font-weight normal
              font-size 16px
              line-height 19px
              color #586981


            .get-demo-access
              width 59%
              height 64px
              background pinkCol
              box-shadow 0px 4px 16px #FFA8D1
              float right
              margin-top 74px
              border-radius 32px
              font-weight bold
              font-size 16px
              letter-spacing 0.2px
              text-transform uppercase
              color white
              &:hover
                background-color inherit
                color pinkCol
                border 2px solid pinkCol


    .pay-systems
      display flex
      position relative
      padding 112px 0 62px 0
      width 100%
      justify-content center


      .pay-system
        margin 0 38.5px