.footer
    background-color #E5E5E5
   
    .inner-block
        display flex
        padding 0 89.5px 0 106px
        height 150px
        justify-content: space-between
        a
            display flex
            position relative
            align-items center
            .logo-text
                font-family 'AvertaStd'
                font-style: normal
                font-weight: 400
                font-size: 35px
                margin-left 9px
                color: #586981
                .ved-text
                    font-weight: bold
        .text
            display flex
            .copyright
                margin auto 0
                // margin-left 44.5%
                font-family 'AvertaStd'
                font-weight: normal
                font-size: 14px
                letter-spacing: 0.0875px
                color: #586981
            .terms-of-use
                font-family 'AvertaStd'
                font-weight: 600
                font-size: 14px
                letter-spacing: 0.0875px
                color: #F81680
                margin-left 90px
                // right 0/