.key-capabilities
    position relative
    background-color #E5E5E5

    .inner-block 
        padding-top 141px

        .title
            max-width 50%
            font-weight bold
            font-size 57px
            line-height 64px
            color #29BCC6

        .subtitle
            max-width 65%
            margin-top 22px
            font-weight bold
            font-size 36px
            line-height 39px

        .container
            display flex
            position relative
            background linear-gradient(31.04deg, #9358F7 -19.21%, #7B78F2 6.2%, #6197EE 29.76%, #45B5E9 54.25%, #10D7E2 78.61%)
            box-shadow 3px 9px 40px #A7D9FA
            border-radius 49px
            margin-top 76px
            padding 98px 0 85px 98px

            .keys
                display flex
                position relative
                flex-direction column

                .key
                    margin-top 90px

                    .icon
                        width 80px
                        height 80px

                    .text
                        padding-top 41px
                        font-weight bold
                        font-size 36px
                        line-height 39px
                        color white

            .pic-wrapper
                display flex
                align-items center
                position relative
                width 29.5%
                min-height 100%
                margin-top 32px

                .phone-pic
                    display block
                    width 431px
                    height 856px //70.8%