.nav
    height 60px
    background-color rgba(219, 226, 227, 1)
    .inner-block
        display flex
        align-items center
        justify-content: space-between
        height 100%
    ul 
      display flex
      position relative 
      height 100%
      align-items center
      .item
        margin-right 20px
        font-size 22px
        transition 1s
        color rgb(108,108,108)
      .item:hover
        font-size 24px
    // Search

    .search 
      position relative
      display flex
      width 32%
      height 100%
      align-items center
      transition width 1s ease-in-out, left 1.5s ease-in-out

      form 
        height 65%
        width 100%
        input 
          position relative
          width 100%
          height 100%
          padding 1px 10px
          outline none
          padding-left 45px
          transition width 1s ease-in-out, left 1.5s ease-in-out
          border-radius 15px
          font-size 20px
          &::placeholder
            font-size 18px

        .search-icon 
          position absolute
          background-image url(/icons/search.svg)
          background-size contain
          width 25px 
          height 25px
          left:8px
          top 31%