.numbers
    position relative
    background-color black
    background-image: url(../../images/numbers-bg.png)
    background-position-x: center
    background-repeat: no-repeat
    .inner-block
        padding 402px 0 360px 0
        .numbers-wrapper
            display grid
            position relative
            grid-template-columns: 1fr 1fr
            grid-template-rows: 1fr 1fr 1fr
            grid-row-gap: 151px
            margin-left 24%
            margin-right 15%
            .number-block
                display flex
                position relative
                width auto
                .number
                    font-family: 'AvertaStd'
                    font-weight: 600;
                    font-size: 64px;
                    // line-height: 22px;
                    letter-spacing: 0.2px;
                    color: #F81680;
                    white-space: nowrap; 
                .text
                    font-family: 'AvertaStd'
                    font-weight normal
                    font-size: 16px;
                    line-height: 20px;
                    color white
                    margin-left 19px