.start 
  background linear-gradient(188.26deg, #01DCBA 17.02%, #7F30CB 85.24%)
  height 852px

  .inner-block
    display flex
    position relative
    padding-left 96px
    padding-top 65px

    .content
      width 49%
      padding-top 138px

      .heading
        font-weight bold
        font-size 64px
        line-height 64px
        color white
        max-width 100%

      .subtitle
        font-weight 600
        font-size 24px
        line-height 32px
        color #EDEDED
        padding 20px 0
        max-width 89%

      .search
        position relative
        width 100%
        height 77px
        align-items center
        background-color #F0F0F0
        border-radius 42px
        margin 57px 0
        margin-left -7px
        box-shadow 6px 12px 17px rgba(0, 0, 0, 0.17)

        form
          height 100% 

          .name-or-TIN-input
            padding 0 38px
            width 100% 
            height 100% 
            border-radius 42px
            background none
            font-size 26px


          .name-or-TIN-input::placeholder
            font-weight 600
            font-size 26px
            color #B8A2D1


    .pic-side
      position relative
      width 51%
      .pic
        max-width 100%