.vedprofile-API
  position relative
  background-color #E5E5E5
  
  .inner-block
    margin-bottom 168px

    .content-block
      display flex
      position relative
      justify-content space-between
      background #FCFCFC
      box-shadow 0px 4px 48px rgba(0, 0, 0, 0.04)
      border-radius 49px
      padding 62px 53px 0 78px
      overflow hidden

      .left-side
        display flex
        flex-direction column
        justify-content space-between
        position relative 
        min-height 100%
        width 42%

        .overhead-text
          font-family 'AvertaStd'
          font-weight bold
          font-size 31px
          line-height 38px
          color #3F85DD

        .phone-pic
          max-width 100%
          position absolute
          margin-top 49%

      .text-wrapper
        position relative
        width 55%
        padding-bottom 67px

        .title
          font-family 'AvertaStd'
          font-weight bold
          font-size 36px
          line-height 44px
          color #233247

        .desc
          padding 63px 0
          font-weight bold
          font-size 36px
          line-height 39px
          color #909090

        .find-data-btn
          width 459px//71% 
          height 67px
          float right
          margin-top 34px
          font-family 'AvertaStd'
          font-weight 600
          font-size 26px