// General colors
darkGreen = #005445
greenCol = #00a15d
lightGreenCol = #09bd3c
redCol = #ff5e4b
blueCol = #627eea
grayCol = #727b8b 
listHoverCol = #e5f5ee

// Dark theme colors
darkBlocks = #202020
darkBgc = #161717