.demo-access
  position relative
  background-color #E5E5E5
  padding 103px 147px 125px 133px

  .block
    display flex
    position relative
    width 100%
    padding 0 61px
    background-color white
    box-shadow 0px 16px 32px rgba(0, 0, 0, 0.08)

    .text-wrapper
      padding 123px 0 103px 0
      width 48.5%

      .title
        font-weight bold
        font-size 32px
        line-height 40px
        color #233247

      .green-line-desc
        margin-top 102px
        max-width 83%

    .inputs
      position relative
      width 50.5%
      padding 123px 57px 103px 71px
      border-left 2px solid #E5E5E5

      input 
        width 100%
        height 48px
        margin 6px 0
        border 1px solid #E5ECED
        box-shadow 0px 1px 6px rgba(0, 0, 0, 0.06)
        border-radius 2px
        padding-left 16px
        font-size 18px 
        color #233247

      input::placeholder
        font-size 16px
        line-height 20px
        color #586981

      .phone-num
        display flex
        width 100%

        .country-code
          width 220px

        .number 
          width 351px
          margin-left 8px

      .get-demo-access
        width 343px
        height 64px
        float right
        margin-top 54px
        font-weight 600
        font-size 16px
        line-height 22px
        letter-spacing 0.2px
        text-transform uppercase