button
  border-radius 22px

.logo-company 
  width 78px
  height 34px

.logo-text
  font-size 35px
  margin-left 8.99px
  font-weight 600

.fea
  font-weight normal
  font-size 23px
  line-height 28px
  letter-spacing 1px
  text-transform uppercase
  margin-left 6px

.green-text
  color mainCol

.green-btn
  background-color mainCol
  color white
  border-radius 32px
  
.green-line-desc
  padding-left 21px
  border-left 4px solid mainCol
  font-size 18px
  line-height 24px
  color #586981