.footer
    display flex
    position relative
    height 86px
    align-items center
    padding 0 53.5px
    .logo-wrapper
      display flex
      position relative
    .copyright
        font-size 14px
        line-height 20px
        letter-spacing 0.0875px
        color #586981
        margin 0 91px
    .terms-of-use
        position absolute
        right calc(111px - 53.5px)
        top calc(50% - 10px)
        font-weight 600
        font-size 14px
        line-height 20px
        letter-spacing 0.0875px
        color #32D882