.indicators
    display flex
    position relative
    justify-content: space-between
    padding 102.33px 97px 42px 65px
    .text-wrapper
        width 585.95px
        .overhead-text
            font-size 13.9652px
            line-height 17px
            letter-spacing 0.161336px
            color #96A8BE
        .title
            margin-top 15.56px
            margin-bottom 70px//edit it
            font-size 40px
            line-height 49px
            color #233247
        .view-data-btn
            width 343px
            height 65px
            margin-top: 137.6px
            filter drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
            font-weight 600
            font-size 16px
            line-height 22px
            letter-spacing 0.2px
            text-transform uppercase
    .pics-wrapper
        position relative
        width 868px
        .header-text
            display flex
            width 100%
            justify-content space-between
            p
                color #233247
                font-weight bold
                font-size 13.9652px
                line-height 17px
            .title
                font-weight bold
                font-size 23.9404px
                line-height 30px
                color mainCol
            .gradient-left
                background-color #233247
                background-image linear-gradient(90deg, white, #233247)
                -webkit-background-clip text
                -webkit-text-fill-color transparent
            .gradient-right
                background-color #233247
                background-image linear-gradient(90deg, #233247, white)
                -webkit-background-clip text
                -webkit-text-fill-color transparent
        .pics
            position relative
            margin 0 auto
            height auto
            margin-top 65.07px
            width 699px
            height auto
            .pc
                max-width 100%
                height auto
            .phone
                position absolute
                bottom 96px
                right -118px
                width 31.9%
                height 70.1%