.key-capabilities
    display block
    position relative
    width 100%
    background-color: rgba(11, 44, 88, 0.92)
    // background-image url(/images/sec-3-bg.png)
    // background-size contain
    // filter #0B2C58 opacity(.92)
    // filter url(/images/sec-3-bg.png) opacity(.92)
    max-height 1094px
    .title
        font-weight bold
        font-size 40px
        line-height 49px
        color white
        text-align: center
        padding 39px 0
        padding-top 63px
        padding-bottom 39px
    .grid-wrapper 
        display: grid; 
        // grid-template-columns: 1fr 1fr 1fr; 
        // grid-template-columns 394px 574px 332px
        // grid-template-columns 394px 690px 335px
        grid-template-columns 532px 573.9px 574px
        // grid-template-rows: 333.015px 333.015px 333.015px
        gap: 0px 0px; 
        grid-auto-rows minmax(333px, auto)
        align-items: start
        .item
            .icon-wrapper
                display flex
                position relative
                width 92px
                height 92px
                border-radius: 50%
                border: 2px solid #32D882;
                justify-content center
                align-items center    
            .text
                margin-top: 15px
                font-weight: normal
                font-size: 24px
                line-height: 36px
                color white
        .phone
            grid-column 2/2
            grid-row 1/3
            background-image url(/images/grid-phone-bg.png)
            background-size contain
            background-repeat: no-repeat
            height 666.03px
            margin-bottom 28px
            .phone-pic
                width 300.78px
                height 594.28px
                margin 34px auto

        //left elements
        .item-1, .item-3, .item-5
            padding-right 67px
            .icon-wrapper
                float right
            .text
                text-align: right
                margin-top: 110px
                padding-left 15%

        //right elements
        .item-2, .item-4, .item-7
            padding-left 51px
            .text
                padding-right 34%

        //bottom left, bottom right
        .item-5, .item-7
            margin-top: -46px

        //bottom center
        .item-6
            margin-left: 43%
            max-width 360px
    .bg
        position absolute
        top 0
        width 100%
        height 100%
        filter opacity(0.92)
        z-index -1