.numbers
  display grid
  position relative
  padding 162px 99px 142px 95px
  background-color #0B2C58
  grid-template-columns 29.5% 38.5% 31.8%
  grid-template-rows 1fr 1fr

  .number-block
    display flex
    position relative
    align-items center
    height 158px

    .number
      font-weight 600
      font-size 58px
      letter-spacing 0.2px
      color #32D882
      white-space nowrap
    
    .text
      font-size 16px
      line-height 20px
      color white
      max-width 149px
      margin-left 19px

  .block-1, .block-2, .block-3
    align-items start
  .block-4, .block-5, .block-6
    align-items end
  
  .bg
    position absolute
    top 45px