.numbers
    display grid
    position relative
    padding 162px 99px 142px 95px
    background-color #0B2C58
    // grid-template-columns: 443px 563px 493px 
    grid-template-columns: 29.5% 37.5% 32.8%
    grid-template-rows: 1fr 1fr
    .number-block
        display flex
        position relative
        align-items center
        height 158px
        .number
            font-weight: 600;
            font-size: 64px;
            line-height: 22px;
            letter-spacing: 0.2px;
            text-transform: uppercase;
            color: #32D882;
        .block-5, .block-6
            font-weight bold
            line-height 79px
        .text
            font-size: 16px;
            line-height: 20px;
            color white
            max-width 149px
            margin-left: 19px
    .bg
        position absolute
        top 45px