.advantages
    position relative
    width 100%
    display flex
    padding 0 126.6px 99.07px 130.4px
    background-color #EDEDED//0.2 opacity
    mix-blend-mode normal
    justify-content space-between
    .advs-wrapper
        display flex
        position relative
        flex-direction column
        margin-top -70px
        width 586px
        .adv-container
            display flex
            align-items: center
            width 100%
            height 167px
            background-color white
            margin-bottom 15px
            box-shadow 0px 2px 4px rgba(0, 0, 0, 0.08)
            border-radius 4px 4px 5px 5px
            .icon
                margin auto 40px
            .text
                .title
                    font-weight bold
                    font-size 24px
                    line-height 26px
                    color #233247
                .desc
                    font-weight normal
                    font-size 16px
                    line-height 21px
                    color grayText
                    margin 13px 0
    .pics
        display block
        position relative
        margin-top -70px
        .phone-pic
            position absolute
            bottom 0
            left -50px