.start
  position relative
  width 100%
  height 812.45px
  background-image url(/images/start_bg.png)
  background-repeat no-repeat
  background-size contain
  padding 30.5px 75.01px 30.5px 73px

  .header
    display flex
    position relative
    width 100%
    justify-content space-between

    .logo-wrapper
      display flex
      position relative
      .logo-text
        color white
  
    .header-btns
      display flex
      position relative

      .language-btn
        display flex
        position relative
        cursor pointer
        margin 0 54px
        .flag-country
          width 35.5px
          height 35.5px
          margin auto 0
          margin-right 17.99px
        .name-language
          font-weight 600
          font-size 16px
          line-height 20px
          color white
          margin auto 0
      .sign-in-btn
        width 160px
        height 44px
        margin 9.95px 0
        color white
        border 1.5px solid #FFFFFF
        box-shadow inset 0px 2px 0px rgba(255, 255, 255, 0.06)
        font-weight 600
        font-size 16px
        line-height 22px
  .start-main
    padding 18.83px 93.39px
    .heading
      color white
      line-height 112%
      text-shadow 0px 1px 4px rgba(0, 0, 0, 0.25)
      font-size 72px 
      // font-weight bold
    .desc
      color almostWhite
      font-size 24px
      line-height 150%
      padding 29.33px 0
    .search
      display flex
      position relative
      height 64px
      margin 30.6px 0
      form
        label
          .name-or-TIN-input
            width 605px
            height 100%
            border-radius 32px
            padding 21px 38.5px
            font-weight 600
            font-size 16px
            line-height 22px
          .name-or-TIN-input::placeholder
            font-weight 600
            font-size 16px
            line-height 22px
            letter-spacing 0.2px
            text-transform uppercase
            color placeholderCol
      .search-company-btn
        width 343px
        height 100%
        margin 0 16.5px
        font-weight 600
        font-size 16px
        line-height 22px
        letter-spacing 0.2px
        text-transform uppercase