.tariffs
    position relative 
    padding 140px 170px 167.19px 200px
    .title
        font-weight bold
        font-size 40px
        line-height 49px
        color #233247
    .desc 
        font-size 20px
        line-height 36px
        color #233247
        margin 27.17px 0
        max-width 783px
    .tariff-container
        display grid
        position relative
        grid-template-columns 1fr 1fr 1fr
        grid-template-rows 1fr 1fr 1fr
        height 673px
        margin-top 62px
        grid-gap 57.27px 42.82px
        .tariff
            text-align center
            background-color white
            box-shadow 0px 16px 32px rgba(0, 0, 0, 0.24)
            border-radius 8px
            padding 28px 38px
            .number-companies
                font-weight: bold;
                font-size: 24px;
                line-height: 26px;
                color mainCol
            .desc-tariff
                margin-top 11px
                margin-bottom 7px
                font-size 16px
                line-height 21px
                color #233247
            .arrange-btn
                width 200px
                height 38px
        .year-tariff
            grid-column 2/4
            grid-row 3/3
    .bg
        position absolute
        bottom 0
        left 0
        right 0
        z-index -1