.vedprofile-API
  position relative
  background-color #0B2C58
  color white
  text-align center
  padding-top 80px
  height 867px
  margin-bottom 128px

  .overhead-text
    font-size 13.9652px
    line-height 17px
    text-align center
    letter-spacing 0.161336px
    color #CDD0D5

  .title
    font-weight bold
    font-size 40px
    margin 15.58px 0

  .content
    display flex
    position relative
    margin-top 59px
    padding 45px 0
    text-align left
    max-width 1329px
    margin-left 15.5% 
    justify-content space-between
    align-items start
    z-index 4

    .pic-wrapper
      position relative
      width 29% 

      .pic
        position absolute
        width 385px
        height auto
        top -45px

    .data-companies
      max-width 570px

      .title
        font-weight bold
        font-size 36px
        line-height 44px
        word-wrap wrap

      .desc
        width 70.3% 
        margin 30.5px 0
        word-wrap wrap

      .learn-more-btn
        width 343px
        height 64px
        margin calc(68px - 30.5px) 0
        font-weight 600
        font-size 16px
        line-height 22px
        text-align center
        letter-spacing 0.2px
        text-transform uppercase
        
  .bg
    position absolute
    left 0
    top 60% 
    z-index 2