@import 'modules/typography'
@import 'modules/reset'
@import 'modules/colors'


@import 'layout/general'
@import 'layout/elements'
@import 'layout/start'
@import 'layout/advantages'
@import 'layout/key-capabilities'
@import 'layout/indicators'
@import 'layout/vedprofile-API'
@import 'layout/tariffs'
@import 'layout/numbers'
@import 'layout/demo-access'
@import 'layout/footer'

@import 'adaptive/formula.styl'
@import 'adaptive/adaptive.styl'