@import 'modules/typography'
@import 'modules/reset'
@import 'modules/colors'


@import 'layout/general'
@import 'layout/elements'
@import 'layout/start'
@import 'layout/our_advantages'
@import 'layout/key_capabilities'
@import 'layout/indicators'
@import 'layout/vedprofile-API'
@import 'layout/tariffs'
@import 'layout/numbers'
@import 'layout/demo-access'
@import 'layout/footer'