// Modules
@import 'modules/reset.styl'
@import 'modules/typography.styl'
@import 'modules/colors.styl'

// Layout
@import 'layout/general.styl'
@import 'layout/elements.styl'

@import 'layout/header.styl'
@import 'layout/nav.styl'
@import 'layout/start.styl'
@import 'layout/advantages.styl'
@import 'layout/key-capabilities.styl'
@import 'layout/indicators.styl'
@import 'layout/vedprofile-API.styl'
@import 'layout/tariffs.styl'
@import 'layout/numbers.styl'
@import 'layout/demo-access.styl'
@import 'layout/footer.styl'

@import 'layout/adaptive/adaptive.styl'
@import 'layout/adaptive/adaptive_small-screen.styl'